src/nwqueueadapters/networktoqueue
src/nwqueueadapters/queuetonetwork
test/src/nwqueueadapters/fakedataconsumer
test/src/nwqueueadapters/fakedataproducer
python/nwqueueadapters-fake-data-consumer-job.json
python/nwqueueadapters-fake-data-producer-job.json
