{% import 'networkqueue-cpp.hpp.j2' as cpp %}
/*
 * This file is 100% generated.  Any manual edits will likely be lost.
 *
 */

{% set tcname = "NToQ" %}

#include "{{model.relpath|replace(".","/")}}/Structs.hpp"
#include "{{model.relpath|replace(".","/")}}/Nljs.hpp"

#include "networkqueue/NetworkToQueueAdapterDAQModule.hpp"


{% for fqn in model.byscn.record %}    
  {% set r = model.byref[fqn] %}
  {% set n = fqn.replace(model.nspre,"") %}
  {% set modname = "NetworkToQueueAdapterDAQModuleOf" ~ n %}
typedef dunedaq::NetworkToQueueAdapterDAQModule<{{ fqn|replace(".","::") }}> {{modname}};
DEFINE_DUNE_DAQ_MODULE({{modname}})
{% endfor %}



