{% import 'networkqueue-cpp.hpp.j2' as cpp %}
/*
 * This file is 100% generated.  Any manual edits will likely be lost.
 *
 */

{% set tcname = "NToQ" %}

#include "{{model.relpath|replace(".","/")}}/Structs.hpp"
#include "{{model.relpath|replace(".","/")}}/Nljs.hpp"

#include "appfwk/cmd/Structs.hpp"
#include "appfwk/cmd/Nljs.hpp"

#include "networkqueue/NetworkToQueueAdapterDAQModule.hpp"

namespace dunedaq{

std::unique_ptr<NetworkToQueueBase> NetworkToQueueBaseMaker(std::string msg_type_name,const appfwk::cmd::ModInit& mod_init_data)
{
{% for fqn in model.byscn.record %}    
  {% set r = model.byref[fqn] %}
  {% set n = fqn.replace(model.nspre,"") %}

  if(msg_type_name=="{{n}}"){
    return std::make_unique<NetworkToQueueImpl<{{ fqn|replace(".","::") }}>>(mod_init_data);
  }
{% endfor %}
  return nullptr;
}

} // namespace dunedaq
